In [1]:
#1.lambda 2. filter 3.map 4. reduce

#lambda ----one liner function/anonymous fucntion
# n no of argumentd 
#number of operation only one

# syntex--
# lambda variable :operation
# call the lambda function

In [5]:
# wap to add two number with lambda function

z=lambda x,y:x+y
z(4,6)

10

In [9]:
# wap to add a number into x with the help of lambda function

z=lambda x:x+5
z(5)

10

In [10]:
z= lambda x,y=8:x+y
z(7)

15

# Filter

In [2]:
# filter function

# wap to filter  out the age of sinior citizon  from a given a data

age=[30,68,72,85,40,58]

z=list(filter(lambda x:x>=60,age))
z

[68, 72, 85]

In [3]:
z=tuple(filter(lambda x : x>=60,age))
z

(68, 72, 85)

In [8]:
# wap to filter out the age of senior citizen from a given data without lambda function

age=[30,68,72,85,40,58]
def info(age):
    if age >=60:
        return True
    else:
        return False
z=list(filter(info,age))
z

[68, 72, 85]

# Map

In [12]:
# map--- used to performe operation

a=[1,2,3]
z=list(map(lambda x:x*x,a))
z

[1, 4, 9]

In [13]:
# wap to find square of a number using lambda function
z=lambda x:x**2
z(7)

49

In [15]:
# wap to find cube of a number using lambda function
z=lambda x:x**3
z(10)

1000

In [16]:
# wap to progran to find the average of 5 number using lambda function

z=lambda a,b,c,d,e:(a+b+c+d+e)/5
z(10,15,20,25,20)

18.0

In [19]:
# wap to find odd and even number using lambda function,
a=[3,5,4,2,7,9,6,1,10]
z=list(filter(lambda x:x%2==0,a))
print("even number",z)
y=list(filter(lambda x:x%2!=0,a))
print("odd number",y)

even number [4, 2, 6, 10]
odd number [3, 5, 7, 9, 1]

# Reduce

In [20]:
from functools import reduce

In [21]:
a=[3,5,4,2,7,9,6,1,10]
z=reduce(lambda x,y: x+y,a)
z

47

In [22]:
# wap to multiply a list of number using lambda reduce

a=[3,5,4,2,7,9,6,1,10]
z=reduce(lambda x,y:x*y,a)
z

453600

In [27]:
# solve the question normal question

a=[3,5,4,2,7,9,6,1,10]
def info(x,y):
    z=x*y
    return z
z=reduce(info,a)
z

453600