In [1]:
# wap to make a dic of emp having name ,age & salary

x={
    'name':'ramesh',
    'age':50,
    'salary':'2k'
}
x

{'name': 'ramesh', 'age': 50, 'salary': '2k'}

In [2]:
# slicing with the indexing
x

{'name': 'ramesh', 'age': 50, 'salary': '2k'}

In [3]:
x['name']

'ramesh'

In [4]:
x['age']

50

In [5]:
# dic has mutable
x

{'name': 'ramesh', 'age': 50, 'salary': '2k'}

In [6]:
x['name']='mohan'

In [7]:
x

{'name': 'mohan', 'age': 50, 'salary': '2k'}

In [8]:
# dic have multi data list or tuple store krwa skte h

x={
    'name':['ram','abc','xyz'],
    'age':(56,89,40),
    'salary':[2300,4600]
}
x

{'name': ['ram', 'abc', 'xyz'], 'age': (56, 89, 40), 'salary': [2300, 4600]}

In [9]:
x['name']

['ram', 'abc', 'xyz']

In [10]:
x['age']

(56, 89, 40)

In [12]:
x['age'][1]

89

In [13]:
x['name'][2]

'xyz'

In [14]:
x['name'][1]='rajput'

In [15]:
x

{'name': ['ram', 'rajput', 'xyz'], 'age': (56, 89, 40), 'salary': [2300, 4600]}

In [16]:
x['age'][2]=80

TypeError: 'tuple' object does not support item assignment

In [17]:
x['salary'][1]=700
x

{'name': ['ram', 'rajput', 'xyz'], 'age': (56, 89, 40), 'salary': [2300, 700]}

In [18]:
# lests make a dic inside a dic

x={
    'name':'xyz',
    'age':20,
    'salary':2300,
    
    
    'z':{
        'number':12345,
        'add':'delhi'
    }
}
x

{'name': 'xyz',
 'age': 20,
 'salary': 2300,
 'z': {'number': 12345, 'add': 'delhi'}}

In [19]:
x:{
    'name':'abc',
    'age':30,
    'salary':3000,
    0:0,
    'z':{
        'number':12345,
        'add':'delhi'
    }
}
print(x)

{'name': 'xyz', 'age': 20, 'salary': 2300, 'z': {'number': 12345, 'add': 'delhi'}}

In [20]:
x={
    'name':'ram',
    'age':20,
    'salary':600,
    0:0,
    '1':6,
    
    'z':{
        'contact':'123',
        'add':'delhi'
    }
}
x

{'name': 'ram',
 'age': 20,
 'salary': 600,
 0: 0,
 '1': 6,
 'z': {'contact': '123', 'add': 'delhi'}}

In [21]:
x={
    'name':'ram',
    'age':67,
    'salary':700,
    0:0,
    '1':'0',
    
    'z':{
        'cotact':7890,
        'add':'up',
        0:'hello',
        '1':1,
        '1':'123456'
    }
}
x

{'name': 'ram',
 'age': 67,
 'salary': 700,
 0: 0,
 '1': '0',
 'z': {'cotact': 7890, 'add': 'up', 0: 'hello', '1': '123456'}}

In [22]:
x['name']

'ram'

In [23]:
x['z'][0]

'hello'

In [24]:
x

{'name': 'ram',
 'age': 67,
 'salary': 700,
 0: 0,
 '1': '0',
 'z': {'cotact': 7890, 'add': 'up', 0: 'hello', '1': '123456'}}